# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Ignore your data folders
backtest_data/
predictions_data/
processed_market_data/
asset_training/
economy/
expectation/
Inflation/
interest_rates/
labor_market/
market_data/
torch_model/
vectorbt_reports/

lightning_logs/
shap_outputs/
ta_lib-0.6.3-cp310-cp310-win_amd64.whl